[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
beautifulsoup4 = "*"
black = "*"
tiktoken = "*"
openai = "*"
unstructured = "*"
nltk = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
isort = "*"
firecrawl-py = "*"
langsmith = "*"
pillow = "*"
certifi = "*"
python-dotenv = "*"
tavily-python = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-openai = "*"
langchainhub = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
